<!-- https://angular.io/guide/user-input -->

<div *ngIf="error">
    {{error}}
</div>
<!-- If user is present, do user stuff -->
<div *ngIf="user != null && (user.id != -1); else noUserPresent">
    <button (click)="doLogout()">Logout</button>

    <!-- CREDENTIAL MODIFICATION -->
    <div *ngIf="showDetails; else hideDetails">
        <button (click)="hideUserDetails()">Hide Personal Details</button><br><br>
        {{user.id}}
        <input [(ngModel)]="name" placeholder="name"/>
        <input type="password" [(ngModel)]="password" placeholder="password"/>
        <input type="password" [(ngModel)]="passwordConfirm" placeholder="confirm password"/>
        <input type="email" [(ngModel)]="email" placeholder="email"/>
        <button (click)="updateUser()">Update</button>
    </div>
    <ng-template #hideDetails>
        <br><button (click)="showUserDetails()">Show Personal Details</button><br><br>

        <!-- ADMIN STUFF -->
        <div *ngIf="isAdmin()">
            <!-- CREATE NEW USER -->
            {{user.id}}
            <input [(ngModel)]="name" placeholder="name"/>
            <input type="password" [(ngModel)]="password" placeholder="password"/>
            <input type="password" [(ngModel)]="passwordConfirm" placeholder="confirm password"/>
            <input type="email" [(ngModel)]="email" placeholder="email"/>
            <!-- <input type="number" [(ngModel)]="privilage" placeholder="privilage"/> -->
            <select name="privilage"  [(ngModel)]="privilage">
                <option selected="selected" value="0">Standard</option>
                <option value="1">Admin</option>
            </select>

            <button (click)="addUser()">Create User</button>

            <!-- VIEW USERS -->
            <br><br>
            <button (click)="getUsers()">Reload Users</button>
            <br>
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Privilage</th>
                    <th>Options</th>
                </tr>
                <tr *ngFor="let entry of users">
                    <td>{{entry.id}}</td>
                    <td>{{entry.name}}</td>
                    <td>{{entry.email}}</td>
                    <td>{{entry.privilage}}</td>
                    <td><button (click)="deleteUser(entry.id)">Delete</button></td>
                </tr>
            </table>
        </div>
    </ng-template>
</div>
<!-- If no user is present, we need to get one -->
<ng-template #noUserPresent>
    <!-- Login -->
    <div *ngIf="showLogin; else registerNewUser">
        Login User
        <br><br>
        <label>Name:
            <input [(ngModel)]="name" placeholder="name"/>
        </label>
        <br><br>
        <label>Password:
            <input type="password" [(ngModel)]="password" placeholder="password"/>
        </label>
        <br><br>
        <button (click)="doLogin()">Login</button>
        <br><br>
        <button (click)="beginRegistration()">Register New User</button>
    </div>
    <!-- Register -->
    <ng-template #registerNewUser>
        Register New User
        <br><br>
        <label>Name:
            <input [(ngModel)]="name" placeholder="name"/>
        </label>
        <br><br>
        <label>Password:
            <input type="password" [(ngModel)]="password" placeholder="password"/>
        </label>
        <br><br>
        <label>Confirm Password:
            <input type="password" [(ngModel)]="passwordConfirm" placeholder="confirm password"/>
        </label>
        <br><br>
        <label>Email:
            <input type="email" [(ngModel)]="email" placeholder="email"/>
        </label>
        <br><br>
        <button (click)="doRegistration()">Register</button>
        <br><br>
        <button (click)="beginLogin()">Login Existing User</button>
    </ng-template>
</ng-template>